[submodule "apps/redmine"]
	path = apps/redmine
	url = https://github.com/redmine/redmine.git
[submodule "apps/forem"]
	path = apps/forem
	url = https://github.com/forem/forem.git
[submodule "apps/avo"]
	path = apps/avo
	url = https://github.com/avo-hq/avo.git
[submodule "apps/mastodon"]
	path = apps/mastodon
	url = https://github.com/mastodon/mastodon.git
[submodule "apps/discourse"]
	path = apps/discourse
	url = https://github.com/discourse/discourse.git
